<!DOCTYPE html>

<html data-theme="luxury">
  <head>
    <title>Home 

    </title>
   
    <link href="/public/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
  </head>
  <body><center><div class="form-control w-full max-w-xs"></div>
    <form class="form" action="/api/custom" method="POST">
        <select id="sensor-select" name="select" class="select select-accent w-full max-w-xs">
            <option value="s1">Sensor 1</option>
            <option value="s2">Sensor 2</option>
            <option value="s3">Sensor 3</option>
            <option value="s4">Sensor 4</option>
        </select>
        <label class="label-text" for="title">Title</label>
              <input name="title" id="title" type="text" class="input input-bordered input-primary w-full max-w-xs">
        
              <label for="subtitle" class="lb">Subtitle</label>
              <input name="subtitle" id="subtitle" type="text" class="input input-bordered input-primary w-full max-w-xs">
        
              <label for="description" class="lb">Description</label>
              <input name="description" id="description" type="text" class="input input-bordered input-primary w-full max-w-xs">
        <div class="m-2">
              <button id="send" class="btn  btn-outline" type="submit">Send</button>
              <button id="limpar" class="btn  btn-outline" type="reset">Clear </button></div>
             
            </form>
            <div class="form-control w-full max-w-xs"></div>
    <form class="form" action="/api/customHeading" method="POST">
        
        <label class="label-text" for="title">Heading</label>
              <input name="heading" id="title" type="text" class="input input-bordered input-primary w-full max-w-xs">
        
              <label for="subtitle" class="lb">Hover Heading </label>
              <input name="hoverHeading" id="subtitle" type="text" class="input input-bordered input-primary w-full max-w-xs">
        
              <label for="description" class="lb">Hover Subheading</label>
              <input name="hoverSubHeading" id="description" type="text" class="input input-bordered input-primary w-full max-w-xs">
        <div class="m-2">
              <button id="send" class="btn  btn-outline" type="submit">Send</button>
              <button id="limpar" class="btn  btn-outline" type="reset">Clear </button></div>
             
            </form>
            <a href="/">
                <div id="home" class="btn btn-md">Home</div></a>
</div></body></center>
  </body></html>