<!DOCTYPE html>

<html data-theme="luxury">
  <head>
    <title>Sensor Value History</title>
   
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
  </head><style>.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }</style> 
  <body> <center>
 <a href="/"><button class="cta btn btn-md">
    <span>Home</span>
    <svg viewBox="0 0 13 10" height="10px" width="15px">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </button></a>
<h1 class="text-red-500	 text-3xl  font-extrabold	" id="sens"><%=name %></h1>
<div class="text-lime-400	">
Sensor History<p id="date"></p></div>
</center>
<div class="overflow-x-auto">
    <table class="table w-full">
        <thead>
            <tr>
              <th>Date</th>
              <th>Value</th>
            
            </tr>
            
          </thead>
          <tbody>
            <% data.forEach(item=>{ %>
              <tr>
            <td><% let date = new Date(item.date) %><%= date.toLocaleString() %></td>
           
    <td><%= item.value %></td>
          </tr>
              
           <% }) %>
            </tbody>
    </table>
  </div></body></html>